.engagement-popup_container {
  /* z-index: 999; */
  /* top: 0;
  position: absolute; */
  height: 100%;
  width: 100%;
  background-color: black;
  /* opacity: 90%; */
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.modal-img_container {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
  justify-content: space-around;
}

.modal-img {
  height: 300px;
  /* width: 50%; */
  object-fit: contain;
}
.center-modal {
  display: flex;
  /* justify-content: center; */
}

.modal-carousel-container {
  width: 50%;
}
