.engagement-popup_container {
  /* z-index: 999; */
  /* top: 0;
  position: absolute; */
  height: 100%;
  width: 100%;
  background-color: green;
}

.hide {
  display: none;
}

.show {
  display: flex;
}
