.engagements_container {
  text-align: -webkit-center;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#engagement-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  background-color: floralwhite;
}

#engagement-div:hover #engagement-element {
  display: block;
  width: 100%;
  float: left;
  position: ∑∑;
  top: -60px;
  height: fit-content;
  /* min-height: 250px; */
  /* left: 320px; */
  height: -moz-fit-content;
  height: fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.opera-blog-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.opera-blog-img {
  height: 150px;
}

.blog-img {
  height: 150px;
  /* width: 100%; */
  position: relative;
  contain: size;
}

@media (max-width: 600px) {
  #engagement-div:hover #engagement-element {
    display: block;
    width: 100%;
    float: right;
    position: relative;
    top: -380px;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 250px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    left: 0px;
  }
  .opera-blog-pics {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
  }
  .opera-blog-img {
    height: 100px;
    width: 100px;
  }
}
