/* .hide {
  display: none;
}

.show {
  display: block;
} */

.engagement-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .new-engagements-container {
    /* display: flex;
    flex-direction: column; */
    /* text-align: center;
    align-items: center; */
  }
}
